<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="site.css">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <!--[if lt IE 9]>
	    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
    <title>personal site</title>

  </head>
  <body>
    <header>
        <a href="/index.html">Home</a>
        <a href="/portfolio.html">Portfolio</a>
        <a href="/contact.html">Contact</a>
    </header>
    <div id="app">
        <div class="top">
        <h1 class="contactTitle">Contact me</h1>
        </div>
        <div class="bottom">
          <ul v-for="link in links">
            <li>
              <a :href="link.linkUrl">{{link.website}}</a>
            </li>
          </ul>
        </div>
   
        <footer id="footer" class="footerContact">
          <ul v-for="link in links">
            <li>
              <a :href="link.linkUrl">{{link.website}}</a>
            </li>
          </ul>
          <div class="date">
            <p>{{date}} - {{returnToday}}</p>
          </div>
        </footer>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</div>
    </body>
</html>