/*START MAIN*/
header{
    background-color: #05F2AF;
    color:black;
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

header a{
    color:black;
    padding: 10px;
}

footer {
    background-color: #05F2AF;
    color:black;
    position: absolute;
    font-family: 'Raleway', sans-serif;
    margin-bottom: -50px;
    width: 100%;
}

footer a{
    color:black;
}

.date{
    float: right;
}

#container {
    position: relative;
    min-height: 100vh;
}

.content {
    margin: 20px auto;
    background-color:#fff;
    display:grid;
    grid-template-columns: 50vw 50vh;
    grid-row: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1rem;
    min-height:100vh;    /* Footer height */
}
.box{
    justify-content:center;
}

/* Rectangle 5 top photo*/

.imageMargin{
    margin-left: 5vw;
}

.depth{
    width:35vw;
    height:auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 7- top paragraph */

#rectSeven{
    background: #05F2AF;
    padding:5rem 3rem;
    align-items:center;
}

/*bottom paragraph*/
#rectEleven{
    background: #583994;
    color:white;
    padding:5rem 3rem;

}

/* links links links */

#links{
    position: absolute;
    width: 110px;
    height: 47px;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

/* copy right info -hasn't been implemented yet */

#copy{
    position: absolute;
    width: 98px;
    height: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
}

li{
    list-style: none;
}

.hacker{
    width:500px;
    text-align: center;
    padding:5px 0px 5px 5px;
}

.hackathon{
    width: 500px;
    padding:0px 5px 5px 5px;
}

/* END DESKTOP
START MOBILE*/

@media screen and (max-width: 1000px) {
    .homeGrid{
        grid-template-rows: repeat(4, 1fr);
    }
    .grid-1{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 1;
    }
    .grid-2{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 2;
    }
    .grid-3{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 3;
    }
    .grid-4{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row: 4;
    }
    .hacker{
        height: 100px;
        width: 100px;
    }
    .hackathon{
        height: 100px;
        width: 100px;
    }
}

/*END MAIN
START CONTACT*/

.contactList{
    text-align: center;
}

.top{
    background-image:url("/images/background.jpg");
}

.contactTitle{
    color: black;
    text-align: center;
}

/*END CONTACT
START PORTOFOLIO*/
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 5vw);
    grid-gap: 5px;
}
.gallery__img {
    width: 100%;
    object-fit: cover;
}
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}