/*
color palette:
purple #591647
yellow #F2C744
light orange #F2B035
orange #F27127
red #D93A2B
white 
black
based off this image https://www.pinterest.com/pin/AR-t6SPy7PT12YVEgU1eV-cGsAc1_zpUNOiUKosfD5lIESY4o1ve2ro/
*/

/*START MAIN*/
header{
    background-color: #D93A2B;
    color:white;
}
header a{
    color:white !important;
}
body{
    color: #F27127;
}
footer{
    background-color:#591647;
    color:white;
}
footer a{
    color:white !important;
}

.hacker{
    float:left; 
    height: 300px;
}

.hackathon{
    float:right;
    height: 300px;
}

.homeTop{
    overflow: hidden;
}

.homeBottomr{
    overflow: hidden;
}

li{
    list-style: none;
}
p{
    margin: 0px;
}
@media only screen and (max-width: 600px) {
    .images{
      height: 50px;
      width: 50px;
    }
  }
/*END MAIN
START CONTACT*/

.contactList{
    text-align: center;
}

/*END CONTACT
START PORTOFOLIO*/
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 10px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}