/*
color palette:
purple #591647
yellow #F2C744
light orange #F2B035
orange #F27127
red #D93A2B
white 
black
based off this image https://www.pinterest.com/pin/AR-t6SPy7PT12YVEgU1eV-cGsAc1_zpUNOiUKosfD5lIESY4o1ve2ro/
*/

header{
    background-color: #D93A2B;
    color:white;
}
header a{
    color:white !important;
}
body{
    color: #F27127;
}
footer{
    background-color:#591647;
    color:white;
}